.header
    padding: 20px 0

    color: $white
    background-color: $shark
    &__container
        display: flex
        align-items: center
        justify-content: space-between
            
    &__btn-secondary
        margin-right: 25px
    &__phone
        margin-right: 20px
        font-size: 15px
        @media (max-width: 852px)
            display: none
    &__nav, &__callback
        @media (max-width: 768px)
            display: none

        
    

    

